* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgba(210, 229, 255, 0.877);
  font-family: sans-serif;
  border-radius: 15px;
  height: 100vh;
}

#main {
  display: flex;
  background-color: rgba(255, 254, 254, 0.904);
  height: 100vh;
  max-width: 100%;
  margin: 2px;
}

/* Navigation bar  */
#tabs {
  background-color: rgb(76, 93, 246);
  /* border-radius:20px 0px 0px 20px; */
  padding-top: 10px;
  flex: 1.2;
}

#tabs > ul {
  align-items: center;
  width: fit-content;
}

.tabs-list5, .tabs-list7 {
  border-bottom: 1px solid #fff;
  padding-bottom: 14px;
}

#tabs > ul > li,
a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  margin: 50px -20px;
  padding: 10px 40px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  align-items: center;
}

a:hover{
  background-color: skyblue;
}
iconify-icon {
  padding-right: 15px;
}

/* Main content i.e Content found in the center of page */
#main-content {
  background-color: rgba(249, 242, 255, 0.924);
  display: block;
  flex: 8;
  padding-left: 40px;
}
.search-bar > input {
  border: none;
  box-shadow: 0px 3px 1px 1px rgb(246, 243, 243);
  color: rgb(212, 210, 210);
  margin: 40px 0px 20px 0px;
  height: 30px;
  padding-left: 15px;
  width: 20%;
}

#nav-bar > ul {
  align-items: flex-left;
  display: flex;
  flex-direction: row;
  list-style: none;
}

#nav-bar > ul > li {
  background: #dfdadad2;
  padding: 15px;
  margin-left: 20px;
  border-radius: 5px;
  width: max-content;

}
#nav-bar > ul > button {
  margin-left: 50px;
}


/* Section for features */

.featured, .top-chanels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0px 20px 0px;
  }
  button {
    background-color: rgb(241, 240, 240);
    border-radius: 4px;
    border-style: none;
    color: grey;
    font-size: 12px;
    padding: 5px;
    margin-right: 35px;
  }
  
  .description1 {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .orange-container {
    background-color: rgba(255, 168, 183, 0.876);
    height: 160px;
    width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .purple-container {
    background-color: rgba(155, 113, 252, 0.87);
    height: 160px;
    width: 300px;
    border-radius: 10px;
  }
  
  .green-container {
    background-color: rgba(57, 182, 57, 0.507);
    height: 160px;
    width: 300px;
    border-radius: 10px;
  }
  /* description2 */

  .description2 {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .upcoming {
   
    margin: 40px 0px 20px 0px;
  }
  .description2 {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .blue-container {
    background-color: rgb(67, 185, 253);
    height: 160px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}
  
  .pink-container {
    background-color: rgba(250, 96, 237, 0.562);
    height: 160px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}
  
  .light-orange-container {
    background-color: rgba(255, 126, 87, 0.589);
    height: 160px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}



.white-container{
  background: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 20px ;
  width: 300px;
}

.description3{
  /* color: #fff; */
display: flex;
flex-direction: row;
justify-content: space-between;
}

.bottom-pink-container{
  background-color: rgba(241, 140, 182, 0.829);
  border-radius: 8px;
  padding: 20px ;
  width: 300px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
  .bottom-blue-container{
    background-color: rgba(64, 64, 250, 0.671);
    border-radius: 8px;
    padding: 20px ;
    width: 300px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
    .bottom-orange-container{
      background-color: rgba(250, 128, 114, 0.658);
      border-radius: 8px;
      padding: 20px ;
      width: 300px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
}

#profile {
  background: #fff;
  flex: 4;
  /* overflow: hidden; */
  width: 100%;
  
}

.name{
  
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: auto;
  justify-content: space-between;
  margin: 20px auto;
  width: 95%;
}
.name img{
  border-radius: 42%;
  margin-right: 10px;
  -webkit-border-radius: 42%;
  -moz-border-radius: 42%;
  -ms-border-radius: 42%;
  -o-border-radius: 42%;
}
.name p{
  margin:auto  auto auto 0;
}

.user-tab ul{
  background-color: rgb(11, 184, 214);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 20px auto;
  padding: 15px ;
  width: 85%;
}

.user-features{
  display: flex;
  justify-content: space-between;
}

.user-features button{
  padding: 5px 20px;
  font-size: 1.1em;
}


.all-features{
  margin: 10px 5%;
  width: 100%;

}

.courses {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 5%;

}

.courses img{
  width: 50%;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.side-text{

display: flex ;
flex-direction: column;
padding-top: 10%;
width: 50%;
}

